@import "../zielona-mapa/src/App";

// DESKTOP STYLE /////////////////////////////////////////////////////////


.how-it-works {
  &__container {
    padding-top: 4rem;
    padding-inline: 4rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    color: $color-text-light;
  }

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-box {
    width: 50%;

    .text-box__number {
      font-size: 2.5rem;
      font-weigh: 600;
      color: $color-green;
    }

    .text-box__title {
      text-transform: uppercase;
    }

    .text-box__text {
      color: $color-text-light;
    }
  }

  &__img-box {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-green;
    font-size: 7rem;
  }

}


// MEDIA QUERY  - 660px /////////////////////////////////////////////////////////


@media (max-width: 660px) {
  .how-it-works {
    &__container {
      padding-inline: 2rem;
    }


    &__title {
      font-size: 1.2rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      how-it-works__text-box {
        grid-row: 2;

      }

      .how-it-works__text-box {
        width: 90%;
      }

        .how-it-works__img-box {
        grid-row: 1;
        font-size: 5rem;
        height: 150px;
      }
    }

  }
}



