.get-to-form {
  padding: 2rem 0;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    align-self: center;

  }



}