.get-to-form {
  &__container {
    padding: 4rem 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__text {
    color: #a5a5a5;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    align-self: center;

  }

}


@media (max-width: 760px) {
  .get-to-form {
    &__buttons {
      flex-direction: column;
      gap: 1rem;

      .btn {
        padding: 12px 50px;
        border-radius: 35px;
      }
    }
  }
}

