.get-to-form {
  &__container {
    padding: 4rem 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    font-size: 2rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    align-self: center;

  }


}

