@import "../zielona-mapa/src/App";


// DESKTOP STYLE /////////////////////////////////////////////////////////


.map__container {
  height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  height: 80%;
  width: 95%;
  padding: 2rem 0;
  z-index: 0;

  &__popup {
    &-title {
      font-size:0.8rem;
      color: #55dfb4;
      font-weight: bold;
      text-transform: uppercase;
    }
    margin: 0 !important;
    span {
      font-weight: bold;
    }
  }
}

.custom-style {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65) !important;
  --icon-width: 50px !important;
  --icon-height: 50px !important;
  --active-height: 40px !important;
  --background-color-candidate: #c3ecdf !important;
  --background-color-hover: #c3ecdf !important;
  --background-color-active: #55dfb4 !important;
  --svg-stroke-width: 5px;
}


// MEDIA QUERY  - 760px /////////////////////////////////////////////////////////


@media (max-width: 760px) {
  .map__container {
    height: calc(100vh - 4rem - 68px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map {
    box-sizing: border-box;
    padding: 2rem 0;
    height: 100%;
    width: 95%;
    z-index: 0;

  }

}