@import "../zielona-mapa/src/App";


// DESKTOP STYLE /////////////////////////////////////////////////////////

.cta {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../images/banner-bg.jpg");
    background-size: cover;
    opacity: 0.15;
    z-index: -1;
  }

  &__container {
    height: calc(100vh - 72px);
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__heading {
    font-size: 4rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;

  }
}


// MEDIA QUERY  - 760px /////////////////////////////////////////////////////////


@media (max-width: 760px) {
  .cta {
    &__container {
      height: calc(100vh - 2rem - 68px);
      padding-top: 2rem;
    }

    &__heading {
      font-size: 2.5rem;
    }

    &__text {
      font-size: 0.8rem;
    }

    &__buttons {
      flex-direction: column;
      gap: 1rem;

      .btn {
        padding: 12px 50px;
        border-radius: 35px;
      }
    }
  }

}

// MEDIA QUERY  - 530px /////////////////////////////////////////////////////////


@media (max-width: 530px) {
  .cta {
    &__container {
      padding-top: 1rem;
      padding-inline: 3rem;

    }

    &__heading {
      font-size: 2rem;
      text-align: center;
    }

    &__text {
      font-size: 0.8rem;
    }

    &__buttons {
      .btn {
        padding: 12px 50px;
        border-radius: 35px;

        &-secondary {
          display: none;
        }
      }
    }
  }

}

// MEDIA QUERY  - 360px /////////////////////////////////////////////////////////


@media (max-width: 360px) {
  .cta {
    &__container {
      padding-inline: 2rem;
      gap: 4rem;
    }

    &__heading {
      font-size: 2rem;
      text-align: center;
    }

    &__text {
      display: none;
    }

  }

}

// MEDIA QUERY  - wysokość /////////////////////////////////////////////////////////


@media (max-height: 460px) {
  .cta {
    &__container {
      height: inherit;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }

}

